[Unit]
Description=Gunicorn instance to serve AdaptiveArticulate application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{APP_DIR}}
Environment="PATH={{APP_DIR}}/venv/bin"
Environment="FLASK_ENV={{FLASK_ENV}}"
Environment="SECRET_KEY={{SECRET_KEY}}"
{{DATABASE_URL_LINE}}
ExecStart={{APP_DIR}}/venv/bin/gunicorn --workers {{WORKERS}} --bind 127.0.0.1:{{PORT}} "app:create_app()"
Restart=always
KillMode=mixed
Type=simple

[Install]
WantedBy=multi-user.target
